[Unit]
Description=Bettercap service
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/service-bettercap-start
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
