[Unit]
Description=PwnGRID service
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/service-pwngrid-start
Restart=always
RestartSec=30

[Install]
WantedBy=container.target
