[Unit]
Description=Pwnagotchi container
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStartPre=-/bin/mkdir /var/lib/pwnagotchi/
ExecStartPre=-/usr/bin/docker rm pwnagotchi
ExecStart=/usr/bin/docker run \
	--name pwnagotchi --hostname "%H" \
	--rm --tty --privileged --net host \
	--env PWNAGOTCHI_NAME="%H" \
	--env-file /etc/pwnagotchi.env \
	--mount type=tmpfs,dst=/run/,tmpfs-mode=0755 \
	--mount type=tmpfs,dst=/tmp/,tmpfs-mode=1777 \
	--mount type=bind,src=/sys/fs/cgroup/,dst=/sys/fs/cgroup/,ro \
	--mount type=bind,src=/var/lib/pwnagotchi/,dst=/root/ \
	docker.io/hectormolinero/pwnagotchi:latest
ExecStop=/usr/bin/docker stop pwnagotchi
ExecStopPost=/usr/bin/reload-brcmfmac-driver
TimeoutStopSec=180
Restart=always

[Install]
WantedBy=default.target
